img {
    width: 90%;
    display: block;
    margin: auto;
}

.img-md { 
    width: 70%;
}

.img-md-sm { 
    width: 60%;
}

.img-sm { 
    width: 50%;
}

.img-sm-sm { 
    width: 40%;
}

table th, table td {
    background-color: white !important;
  }

.top-link {
    text-align: right;
    margin-top: 1em;
}
  
.top-link a {
    text-decoration: none;
    font-size: 0.9em;
    color: #0056b3;
}
  
  .top-link a:hover {
    text-decoration: underline;
}

table th:first-child, 
table td:first-child {
  white-space: nowrap;
  width: 20%;
}

hr {
    border-top: 1px dashed #ccc; 
    height: 0; 
    border-bottom: none;
}